{% extends 'partials/_base.html' %}

{% load static %}

{% block content  %}
    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {% for order_item in object.products.all %} 
                            <tbody>
                                    <tr>
                                        <td class="shoping__cart__item">
                                            <img src="{{ order_item.product.image.url }}" alt=""  width="90px" height="90px" />
                                            <h5>{{ order_item.product.name }}</h5>
                                        </td>
                                        <td class="shoping__cart__total">
                                            ${{ order_item.product.price }}
                                        </td>
                                        <td class="shoping__cart__total">
                                            {{ order_item.quantity }}
                                        </td>
                                        <td class="shoping__cart__total">
                                            ${{ order_item.get_total_item_price }}
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <a href = "{% url 'remove_from_cart' order_item.product.slug %}"><span class="icon_close"></span></a>
                                        </td>
                                    </tr>
                            </tbody>
                            {% endfor %}
                            
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="{% url 'store' %}" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                            <h5>Cart Total</h5>
                            <ul>
                                <li>Username <span>{{ object.customer.username }}</span></li>
                                <li>Total <span>${{ object.get_total }}</span></li>
                            </ul>
                            <a href="{% url 'store_checkout' %}" class="primary-btn">PROCEED TO CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->

    {% endblock %}